.header {
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
  background-color: #1583A1;

  .logo {
    margin: 0;
    height: 100%;
    width: 8%;
  }

  .title {
    margin: 0;
    text-align: center;
    width: 30%;
    font-size: 3rem;
    color: white;
  }

  .links {
    margin: 0;
    justify-content: space-between;
    width: 20%;
    a {
      text-decoration: none;
      font-size: 2rem;
      color: white;
      font-weight: bold;

      &:hover {
        color: #F18B2E;
      }
    }
  }
}