<header class="d-flex header">
  <%= image_tag('Logo.png', class: 'logo')%>
  <h3 class="title">ViveTech Products</h3>
  <div class="d-flex links">
    <%= link_to 'HOME', root_path %>
    <%= link_to 'New Product', new_product_path %>
  </div>
</header>